//Color
$royal-blue: #3358de;
$azure: #3750ae;
$mine-shraft: #333;
$white: #fff;
$black: #000;
$silver: #cacaca;
$gray: #827d7d;
$princ-red: #b22746;
$grey-opacity: #48484880;

//Maps
$icons-array: (
  cvv: -10px -65px,
  dollar: -65px -10px,
  insurance: -10px -10px
);

//Fonts
$first-size: 35px;
$second-size: 32px;
$third-size: 30px;
$text-size-large: 18px;
$text-size-small: 16px;

$main-font: 'Libre Franklin', sans-serif;
$lucida-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
